{% load i18n %} {% load static %}

<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start logo">
      <div class="logo">
        <a href="{% url 'presentation' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <img src="{% static 'img/logo/safetec-logo-rgb.png' %}" width="150" />
        </a>
      </div>
    </div>
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 ml-2">
        <li class="nav-item my-2">
          <a href="{% url 'search' %}" class="nav-link px-2 link-dark 
            {% if  'search' in request.path %} active {% endif %}">
              {% trans "Search" %}
          </a>
        </li>
        <li class="nav-item my-2 mx-5">
          <a href="{% url 'about_us' %}" class="nav-link px-2 link-dark {% if 'about-us' in request.path %} active {% endif %}">
            {% trans "About us" %} 
          </a>
        </li>
        <li class="nav-item my-2">
          <a
            href="{% url 'export_control_law' %}"
            class="nav-link px-2 link-dark  {% if 'export' in request.path %} active {% endif %}"
            >{% trans "Export Control Law" %}</a>
        </li>
        <li class="nav-item my-2 mx-5">
          <a href="{% url 'add_contact' %}" class="nav-link px-2 link-dark {% if  'add' in request.path %} active {% endif %}">
              {% trans "Consult Safetec" %}
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
