{% load i18n %} {% load static %}

<header class="p-3 mb-3">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start logo">
      <div class="logo mb-4 border-bottom pb-4 pt-3">
        <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between">
          <a href="{% url 'presentation' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
            <img src="{% static 'img/logo/safetec-logo-rgb.png' %}" width="200" />
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav position-absolute end-0 bg-white">
              <li class="nav-item">
                <a href="{% url 'search' %}" class="nav-link px-2 link-dark
                  {% if  'search' in request.path %} active {% endif %}">
                    {% trans "Search" %}
                  </a>
              </li>
              <li class="nav-item">
                <a
                  href="{% url 'export_control_law' %}"
                  class="nav-link px-2 link-dark  {% if 'export' in request.path %} active {% endif %}"
                  >
                    {% trans "Export Control Law" %}
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'add_contact' %}" class="nav-link px-2 link-dark {% if  'add' in request.path %} active {% endif %}">
                  {% trans "Consult Safetec" %}
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
