{% load static %} 
{% load i18n %}
{% load switch_lan %}

<nav class="bg-light border-bottom">
    <div class="container d-flex flex-wrap">
      {% get_current_language as LANGUAGE_CODE %}
      {% get_available_languages as LANGUAGES %}
      {% get_language_info_list for LANGUAGES as languages %}
  
      <ul class="nav me-auto"></ul>
      <ul class="nav">
        <li class="nav-item"><a href="{{ request.path|switch_lan:'no'}}" class="nav-link link-dark px-2"><img src="{% static 'base/img/flags/norway.png' %}"></a></li>
        <li class="nav-item"><a href="{{ request.path|switch_lan:'en'}}"class="nav-link link-dark px-2"><img src="{% static 'base/img/flags/english.png' %}"></a></li>
      </ul>
    </div>
  </nav>