{% load display_tags %}
{% load i18n %} 

<nav>
    <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
        <li class="page-item">
            <a href="?{% get_parameters 'page' %}page=1" class="page-link">&laquo; {% trans "First" %}</a>
        </li>
        <li class="page-item">
            <a href="?{% get_parameters 'page' %}page={{ page_obj.previous_page_number }}" class="page-link"><i class="bi bi-arrow-bar-left"></i></a>
        </li>
    {% endif %}
      <li class="page-item disabled"><a class="page-link" href="#">{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}</a></li>
       
      {% if page_obj.has_next %}
        <li class="page-item">
            <a href="?{% get_parameters 'page' %}page={{ page_obj.next_page_number }}" class="page-link"><i class="bi bi-arrow-bar-right"></i></a>
        </li>
        <li class="page-item">
            <a href="?{% get_parameters 'page' %}page={{ page_obj.paginator.num_pages }}" class="page-link">{% trans "Last" %} &raquo;</a>
        </li>
        {% endif %}
    </ul>
  </nav>