{% load i18n %} 

<form id="search_form" action="{{ form_action }}" method=get" enctype="multipart/form-data">
    <input type="text" class="form-control border-bottom-1" id="query" value="{{ search_term }}" placeholder="{% trans 'Enter the text...'%}" required="" name = "q">
    <div class="row justify-content-center mt-2">
    {% for field in search_form %}
        {% if field.name != "q"%} 
            {% include 'base/partials/form_field_inline.html' with field=field %}
        {% endif %}
    {% endfor %}
    </div>
    
    <div class="row justify-content-center">
        <div class="col text-center mt-2">
            <button class="btn btn-lg btn-rounded btn-primary" type="submit" data-loading-text="{% trans "Searching...." %}">
            <i class="bi bi-search"></i> {% trans 'Search' %}
            </button>
        </div>
    </div>
</form>