{% extends "base/layout.html" %}
{% load i18n %} 


{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'presentation' %}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans "Profile" %}</li>
    </ol>
  </nav>
{% endblock %}

{% block header %}
    <div class="p-4 p-md-5 mb-4 text-dark rounded bg-light">
        <div class="col-md-8 px-0">
        <h1 class="display-6 fst-italic">{% trans "Profile" %}</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="row g-5 mb-5">
        <div class="col-md-4">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Profile</h5>
                  <p class="card-text">Test Admin</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">{% trans "Profile" %}</li>
                  <li class="list-group-item">{% trans "Update profile" %}</li>
                  <li class="list-group-item">{% trans "Logout" %}</li>
                </ul>
              </div>
        </div>
        <div class="col-md-8 mb-5">
            <table class="table margin-bottom-none">
                <tbody>
                    <tr>
                        <td class="h6">{% trans "First Name" %}</td>
                        <td>Test</td>
                    </tr>
                    <tr>
                        <td class="h6">{% trans "Last Name" %}</td>
                        <td>Test2</td>
                    </tr>
                    <tr>
                        <td class="h6">{% trans "Username"%}</td>
                        <td>test_test_admin</td>
                    </tr>
                    <tr>
                        <td class="h6">{% trans "Email"%}</td>
                        <td>test_test_admin@gamil.com</td>
                    </tr>
                </tbody>
        
            </table>
            
        </div>

    </div>
    
{% endblock %}