{% extends "base/layout.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'front_page' %}">Home</a></li>
      <li class="breadcrumb-item" aria-current="page">{{ object.category }}</li>
      <li class="breadcrumb-item" aria-current="page">{{ object.sub_category }}</li>
      <li class="breadcrumb-item" aria-current="page">{{ object.regime }}</li>
      <li class="breadcrumb-item active" aria-current="page">{{ object.code }}</li>
    </ol>
  </nav>
{% endblock %}

{% block header %}
  <div class="row p-4 mb-4 p-md-5 text-dark rounded bg-light">
    <div class="col-md-12">
      <h1 class="display-6 fst-italic">
        {% trans "Regulation" %} {{ object.code }}
      </h1>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
        <ul>
          {% for paragraph in root_paragraphs %} 
            {% include "regulations/partials/recursive_paragraph.html" %}
          {%endfor%}
        </ul>
    </div>
  </div>
{% endblock %}
  