{% extends "base/layout.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'presentation' %}">Home</a></li>
      <li class="breadcrumb-item" aria-current="page"><a href="{% url 'presentation' %}">{{ object.category }}</a></li>
      <li class="breadcrumb-item" aria-current="page"><a href="{% url 'presentation' %}">{{ object.sub_category }}</a></li>
      <li class="breadcrumb-item" aria-current="page"><a href="{% url 'presentation' %}">{{ object.regime }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ object.code }} {% if user.is_authenticated and user.is_staff %}<a href="{% url 'admin:regulations_regulation_change' object.pk %}"><i class="bi bi-gear"></i></a>{% endif %} </li>
    </ol>
  </nav>
{% endblock %}

{% block header %}
  <div class="row p-4 mb-4 p-md-5 text-dark rounded bg-light">
    <div class="col-md-12">
      <h1 class="display-6 fst-italic">
        {% trans "Regulation" %} {{ object.code }}
      </h1>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="row justify-content-md-center my-5">
  <div class="col-md-3 text-center">
      <button type="button" class="btn btn-primary btn-rounded"><i class="bi bi-info-circle"></i> {% trans "Contact us" %}</button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
      <ul>
        {%for paragraph in root_paragraphs %} 
          {% include "regulations/partials/recursive_paragraph.html" %}
        {%endfor%}
      </ul>
  </div>
</div>
 

{% endblock %}
  