{% extends "base/layout.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ site_name }} - {{ flatpage.extendedflatpage.title}}{% endblock %}
{% block breadcrumbs %}
{% get_current_language as LANGUAGE_CODE %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'front_page' %}">{% trans "Home"%}</a></li>
    <li class="breadcrumb-item" aria-current="page">      
      {% if LANGUAGE_CODE == "no" %}
      {{ flatpage.extendedflatpage.title_no}}
      {% else %}
      {{ flatpage.extendedflatpage.title}}
      {% endif %} 
    </li>
  </ol>
</nav>
{% endblock %} 
{% block header %}
<div class="p-4 p-md-5 mb-4 text-dark rounded bg-light">
  <div class="col-md-8 px-0">
    <h1 class="display-4 fst-italic">
      {% get_current_language as LANGUAGE_CODE %}
      {% if LANGUAGE_CODE == "no" %}
        {{ flatpage.extendedflatpage.title_no}} 
      {% else %}
        {{ flatpage.extendedflatpage.title}}
      {% endif %} 
    </h1>
  </div>
</div>
{% endblock %} 
{% block content %}
{% get_current_language as LANGUAGE_CODE %}
<div class="row featurette">
  <div class="col-md-7">
    <p class="lead">
      {% if LANGUAGE_CODE == "no" %}
        {{ flatpage.extendedflatpage.page_content_no | safe}}
      {% else %}
        {{ flatpage.extendedflatpage.page_content | safe}}
      {% endif %} 
    </p>
  </div>
  <div class="col-md-5">
    <div class="position-sticky" style="top: 2rem;">
      {% if flatpage.url == "/regimes/" %}
        <img src="{% static 'base/img/export_control_categories.png' %}" width="500" />
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
