{% extends "base/layout.html" %}
{% load i18n %}
{% load static %}
{% block title %}
  {% get_current_language as LANGUAGE_CODE %}
  {% trans "Export Control" %} -
  {% if LANGUAGE_CODE == "no" %}
    {{ flatpage.extendedflatpage.title_no }}
  {% else %}
    {{ flatpage.title }}
  {% endif %}
{% endblock %}
{% block breadcrumbs %}
  {% get_current_language as LANGUAGE_CODE %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      {% if flatpage.url == "/" %}
        <li class="breadcrumb-item">{% trans "Home" %}</li>
      {% else %}
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}">{% trans "Home" %}</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
          {% if LANGUAGE_CODE == "no" %}
            {{ flatpage.extendedflatpage.title_no }}
          {% else %}
            {{ flatpage.extendedflatpage.title }}
          {% endif %}
        </li>
      {% endif %}
    </ol>
  </nav>
{% endblock %}
{% block header %}
  <div class="p-4 p-md-5 mb-4 text-dark rounded bg-light">
    <div class="col-md-8 px-0">
      {% get_current_language as LANGUAGE_CODE %}
      <h1 class="display-4 fst-italic">
        {% if LANGUAGE_CODE == "no" %}
          {{ flatpage.extendedflatpage.title_no }}
        {% else %}
          {{ flatpage.extendedflatpage.title }}
        {% endif %}
      </h1>
      {% if flatpage.extendedflatpage.description %}
        <p class="lead my-2">
          {% if LANGUAGE_CODE == "no" %}
            {{ flatpage.extendedflatpage.description_no }}
          {% else %}
            {{ flatpage.extendedflatpage.description }}
          {% endif %}
        </p>
      {% endif %}
    </div>
  </div>
{% endblock %}
{% block content %}
  {% get_current_language as LANGUAGE_CODE %}
  <div class="row featurette">
    <div class="col-md-7">
      <p class="lead">
        {% if LANGUAGE_CODE == "no" %}
          {{ flatpage.extendedflatpage.page_content_no | safe }}
        {% else %}
          {{ flatpage.extendedflatpage.page_content | safe }}
        {% endif %}
      </p>
    </div>
    <div class="col-md-5">
      <div class="position-sticky" style="top: 2rem"></div>
    </div>
  </div>
{% endblock %}
