{% extends "base/layout.html" %}
{% load i18n %}
{% load static %}
{% block breadcrumbs %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'front_page' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans "Export Control Low" %}</li>
  </ol>
</nav>
{% endblock %} {% block header %}
{% get_current_language as LANGUAGE_CODE %}
<div class="p-4 p-md-5 mb-4 text-dark rounded bg-light">
  <div class="col-md-8 px-0">
    <h1 class="display-4 fst-italic">
      {% if LANGUAGE_CODE == "no" %}
        {{ flatpage.extendedflatpage.title_no}}
      {% else %}
        {{ flatpage.extendedflatpage.title}}
      {% endif %} 
    </h1>
  </div>
</div>
{% endblock %} {% block content %}

<div class="list-group w-auto">
  <a href="{% static 'base/documents/export-control-appendix1.pdf' %}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0">Liste I</h6>
      </div>
      <small class="opacity-50 text-nowrap">Open</small>
    </div>
  </a>
  <a href="{% static 'base/documents/export-control-appendix2.pdf' %}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0">List II</h6>
      </div>
      <small class="opacity-50 text-nowrap">Open</small>
    </div>
  </a>
  <a href="https://lovdata.no/dokument/SF/forskrift/2013-06-19-718#KAPITTEL_8" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
    <div class="d-flex gap-2 w-100 justify-content-between">
      <div>
        <h6 class="mb-0">Lovdata eksportkontrollforskriften</h6>
      </div>
      <small class="opacity-50 text-nowrap">Open</small>
    </div>
  </a>
</div>

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="text-center mt-5">
        Formål med loven
    </h2>
    <h3>
        Lovgiving
    </h3>
    <p>
        Det er forbudt å eksportere visse strategiske varer, 
        tjenester og teknologi uten tillatelse (lisens)  fra Utenriksdepartementet. 
        Bedrifter og enkeltpersoner oppfordres til å sette seg inn i og å overholde 
        eksportkontrollregelverket. Regelverket består av Eksportkontrolloven, 
        Eksportkontrollforskriften og Retningslinjer for saksbehandlingen. 
        Sistnevnte publiseres i årlig stortingsmelding.
    </p>
    <h3>
        Eksportkontrollforskriften
    </h3>
    <p>
        Forskrift om eksport av forsvarsmateriell, flerbruksvarer, teknologi og 
        tjenester gir nærmere anvisninger på hva lisensplikten omfatter mht. 
        varelister, tjenester, handel og formidling.  
        Videre inneholder Eksportkontrollforskriften en bestemmelse om mer vidtgående 
        lisensplikt under visse omstendigheter, fang-alt bestemmelsen. 
        Denne bestemmelsen innebærer at det er lisensplikt uansett i 
        fire tilfelle (forkortet og forenklet her): i forbindendelse med 
        masseødeleggelsesvåpen, til militær bruk når  et land er underlagt sanksjoner, 
        til militær bruk i områder hvor det er krig, 
        krig truer eller det er borgerkrig samt dersom eksporten kan 
        tjene til å utvikle militær evne i strid med vesentlige norske interesser. 
        I tillegg inneholder forskriften særlige bestemmelser for eksport av 
        forsvarsmateriell innen EØS området. 
        De to norske varelistene er vedlegg til Eksportkontrollforskriften.
    </p>
  </div>
  <div class="col-md-5">
    <img style="width:70%;" src="{% static 'base/img/norway_coat_of_arms.png' %}"
    alt="Riksvåpenet" />
  </div>
</div>

{% endblock %}
