<li> 
  <span class="fw-bold {% if paragraph.is_special %}fst-italic{% endif %}" id="{{ paragraph.pk }}">{% if user.is_authenticated and user.is_staff %}<a href="{% url 'admin:regulations_paragraph_change' paragraph.pk %}">{{ paragraph.code }}</a>{% else %}{{ paragraph.code }}{% endif %}</span>
  <span class="{% if paragraph.is_special %}fst-italic{% endif %}">
    {{ paragraph.text | safe }}
  </span>
  
  {%if paragraph.numchild %}
      <ul>
       {%for child in paragraph.get_children %}
            {%with paragraph=child template_name="regulations/partials/recursive_paragraph.html" %}
                 {%include template_name %}
            {%endwith%}
       {%endfor%}
       </ul>
  {%endif%}
</li>