:root {
  /* Colors provided by Safetec */
  --safetec-petrol: #377f82;
  --safetec-aquamarine: #41a0a2;
  --safetec-grey: #c0cbc2;

  --breadcrumb-color: #6c757d;
}

@font-face {
  font-family: "AktivGrotesk-Regular";
  src: url("../fonts/AktivGrotesk-Regular.ttf") format("truetype"),
    url("../fonts/AktivGrotesk-Regular.otf") format("truetype"),
    url("../fonts/AktivGroteskCorp-Regular.woff") format("truetype"),
    url("../fonts/AktivGroteskCorp-Regular.woff2") format("truetype");
}

@font-face {
  font-family: "AktivGrotesk-Light";
  src: url("../fonts/AktivGrotesk-Light.ttf") format("truetype");
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "AktivGrotesk-Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

header {
  font-family: "AktivGrotesk-Light";
  font-size: 19px;
  line-height: 21px;
  font-weight: 400;
}

a {
  color: var(--safetec-aquamarine);
}

a:hover {
  color: var(--safetec-petrol);
}

.navbar-nav a {
  text-decoration: none;
}

.breadcrumb {
  color: var(--breadcrumb-color);
}

.btn-primary {
  background-color: var(--safetec-aquamarine);
  border: 2px solid var(--safetec-aquamarine);
  border: 2px solid var(--safetec-aquamarine);
  font-weight: normal;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: var(--safetec-petrol);
  border: 2px solid var(--safetec-petrol);
}

.btn-outline-primary {
  color: var(--safetec-aquamarine);
  margin-left: 0px;
  font-weight: normal;
  border: 2px solid var(--safetec-aquamarine);
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus {
  background-color: var(--safetec-petrol);
  border: 2px solid var(--safetec-petrol);
}

.logo {
  margin-right: 30px;
  width: 100%;
}

.nav-link:hover {
  color: var(--safetec-petrol) !important;
}

footer {
  background-color: var(--safetec-grey);
  font-size: 14px;
  line-height: 14px;
}

.footer-title {
  color: var(--safetec-petrol);
  display: block;
}

footer a {
  color: black;
  display: block;
  line-height: 8px;
  text-decoration: none;
}

footer a:hover,
footer a:active,
footer a:focus {
  color: var(--safetec-petrol);
}

.social-icon {
  color: black;
}

.social-icon:hover,
.social-icon:active,
.social-icon:focus {
  color: var(--safetec-petrol);
}

footer ul {
  display: block;
}

body {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 140px;
  padding-bottom: 40px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 140px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  body {
    margin-bottom: 320px;
  }
  footer {
    height: 320px;
    width: 100%;
    overflow: hidden;
  }
}
