{% extends "base/layout.html" %}
{% load i18n %} 
{% block title %}{{ site_name }} - 404{% endblock %}
{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'front_page' %}">{% trans "Home" %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans "404 Page" %}</li>
    </ol>
  </nav>
{% endblock %}

{% block header %}
    <div class="p-4 p-md-5 mb-4 text-dark rounded bg-light">
        <div class="col-md-8 px-0">
        <h1 class="display-4 fst-italic">
            {% trans "404" %}
          </h1>
         <h2 class="display-6 fst-italic">
            {% trans "Oops! This Page Could Not Be Found" %}
          </h2>
          <p>
            {% trans "SORRY BUT THE PAGE YOU ARE LOOKING FOR DOES NOT EXIST, HAVE BEEN REMOVED. NAME CHANGED OR IS TEMPORARILY UNAVAILABLE" %}
          </p>
          <a href="{% url 'front_page' %}" class="btn btn-lg btn-primary">{% trans "Go to HomePage" %}</a>
        </div>
    </div>
{% endblock %}

 