{% load static %}
{% load i18n %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>
      {% block title %}
        {% trans "Export Control" %}
      {% endblock %}
    </title>
    <link rel="stylesheet"
          href="{% static 'base/bootstrap5/css/bootstrap-icons.css' %}"
          rel="stylesheet"/>
    <link href="{% static 'base/bootstrap5/css/bootstrap.min.css' %}"
          rel="stylesheet"/>
    <link href="{% static 'base/bootstrap5/css/starter-template.css' %}"
          rel="stylesheet"/>
    <!-- Favicon -->
    <link rel='icon'
          href="{% static 'base/img/logo/safetec-logosymbol-rgb.png' %}"
          type='image/x-icon'
          sizes="16x16"/>
    <script src="{% static 'base/bootstrap5/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'base/js/jquery-3.6.1.min.js' %}"></script>
    <link href="{% static 'base/css/main.css' %}" rel="stylesheet"/>
    <script src="{% static 'base/js/main.js' %}"></script>
  </head>
  <body style="overflow:scroll;">
    {% block layout %}{% endblock %}
  </body>
</html>
