{% extends "base/layout.html" %}
{% load i18n %} 
{% load widget_tweaks %}
{% block breadcrumbs %}
 
{% endblock %}

{% block header %}
    <div class="p-4 p-md-5 mb-4 text-dark rounded bg-light">
        <div class="col-md-8 px-0">
        <h1 class="display-4 fst-italic">{% trans  flatpage.title %}</h1>
        <p class="lead my-2">{% trans "Example Description" %}</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row g-5">
        <div class="col-md-8">
        <h3 class="pb-4 fst-italic">
            <i class="bi bi-search"></i> {% trans "Search" %}
        </h3>
        <h3>
          {% block search %}{% include "base/partials/search.html" %}{% endblock %}
        </div>
        <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-light rounded">
            <h4 class="fst-italic">{% trans "About" %}</h4>
            <p class="mb-0">
                Under Norway’s export control system, a range of products, 
                technology and services may only be exported from Norway 
                if the exporter has obtained an export license from the Ministry of Foreign Affairs. 
                The export control system is intended to ensure that export from Norway is in accordance with Norwegian 
                security and defence policy, and that exports of dual-use items do not contribute to the 
                proliferation of weapons of mass destruction (nuclear, chemical, and biological weapons) 
                or their means of delivery. 
                <a href="{% url 'export_control_law' %}">Read more</a>
            </p>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
