{% extends "base/layout.html" %}
{% load i18n %} 
{% load widget_tweaks %}
{% block breadcrumbs %}
 
{% endblock %}

{% block header %}
{% get_current_language as LANGUAGE_CODE %}
    <div class="p-4 p-md-5 mb-4 text-dark rounded bg-light">
        <div class="col-md-8 px-0">
        <h1 class="display-4 fst-italic">
            {% if LANGUAGE_CODE == "no" %}
                {{ flatpage.title_no}}
            {% else %}
                {{ flatpage.title }}
            {% endif %} 
        </h1>
        <p class="lead my-2">
            {% if LANGUAGE_CODE == "no" %}
            {{ flatpage.title_description_no }}
            {% else %}
                {{ flatpage.title_description }}
            {% endif %} 
        </p>
        </div>
    </div>
{% endblock %}

{% block content %}

{% get_current_language as LANGUAGE_CODE %}
    <div class="row g-5">
        <div class="col-md-8">
        <h3>
          {% block search %}{% include "base/partials/search.html" %}{% endblock %}
        </div>
        <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-light rounded">
            <h4 class="fst-italic">{% trans "About" %}</h4>
            <p class="mb-0">
                {% if LANGUAGE_CODE == "no" %}
                    {{ flatpage.sidebar_text_no | safe}}
                {% else %}
                    {{ flatpage.sidebar_text | safe}}
                {% endif %} 
                <a href="{% url 'django.contrib.flatpages.views.flatpage' url='export-control-law/' %}">{% trans "Read More" %}</a>
            </p>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
