{% extends "base/layout.html" %}
{% load i18n %} 
{% load widget_tweaks %}
{% block breadcrumbs %}
 
{% endblock %}

{% block header %}
    <div class="p-4 p-md-5 mb-4 text-dark rounded bg-light">
        <div class="col-md-8 px-0">
        <h1 class="display-4 fst-italic">{% trans "Example Title" %}</h1>
        <p class="lead my-2">{% trans "Example Description" %}</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row g-5">
        <div class="col-md-8">
        <h3 class="pb-4 fst-italic">
            <i class="bi bi-search"></i> {% trans "Search" %}
        </h3>
        <h3>
          {% block search %}{% include "base/partials/search.html" %}{% endblock %}
        </div>
        <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-light rounded">
            <h4 class="fst-italic">{% trans "About" %}</h4>
            <p class="mb-0">
                Eksportkontroll innebærer at visse varer, teknologi og tjenester ikke kan eksporteres fra Norge uten lisens utstedt av Utenriksdepartementet. Formålet med eksportkontroll er å bidra til: 1) å sikre at eksporten av forsvarsmateriell fra Norge skjer i tråd med norsk sikkerhets- og forsvarspolitikk og 2) at eksporten av flerbruksvarer ikke bidrar til spredning av masseødeleggelsesvåpen (kjernefysiske, kjemiske og biologiske våpen), samt leveringsmidler for slike våpen. 
Kontrollen har hjemmel i lov og forskrift. Herunder deles eksportkontrollregelverket inn i to hovedkategorier som er vedlegg til eksportkontrollforskriften..
                <a href="{% url 'export_control_law' %}">Ler mer</a>
            </p>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
